body {
}
.vernagir {
    width:770px;
    height:60px;
    background-color:greenyellow;
    color:gray;
    text-align:center;
    padding-top:18px;
    font-size:26px;
    margin-left:200px;
    margin-top:30px;
}

.table1{
    width:330px;
    height:600px;
    background-color:gray;
    color:black;
    padding-top:18px;
    font-size:20px;
    float:left; 
    margin-right:30px;
}


#sum {
   float:left;
   width:300px;
   text-align:right;
   background-color:gray;
   color:black;
   font-size:26px;
}